<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Slide</title>
    <!--LINK CSS-->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    
    <div class="container">
        <div id="app">
            <div class="slider-wrapper flex-container" tabindex="0">

                <div v-for="(slide, index) in slides">
                    <div v-if="index === slideAttiva" class="item">
                        <img :src="slide.image" :alt="slide.title">
                        <div class="text">
                            <h3>{{ slide.title }}</h3>
                            <p>
                                {{ slide.text }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="thumbs">
                    <div>
                        <button class="prev" @click="prevSlide"></button>
                    </div>
                    <div>
                        <button class="next" @click="nextSlide"></button>
                    </div>
                    <div v-for="(slide, index) in slides" :class="['thumb', { active: index === slideAttiva }]">
                        <img :src="slide.image" :alt="slide.title">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--LINK VUE-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--LINK JS-->
    <script src="./js/scripts.js"></script>
</body>

</html>